.container-h1{
    font-size: 3rem;
}
.nav-link{
    margin: 10px;
}
.nav-con{
    margin-right: 10rem!important;
    padding-right: 7rem; 
}
.box{
    position: absolute;
    bottom: 490px;
    left: 446px;
    height: 14vh;
    width: 100px;
}
.footer-ul{
    list-style-type: none;
    padding:14px 0px;
}
@media (max-width: 481px) {
    .banner{
     font-size: 20px;
     margin-top:20px ;
    }
    .image{
        width: 357px;
        height: 370px;
    }
    .box{
        position: absolute;
            bottom: 254px;
            left: 230px;
            height: 8vh;
            width: 82px;
    }
    .container-h1{
        font-size: 20px;
    }
}