.container-h1{
    font-size: 3rem;
}
.nav-link{
    margin: 10px;
}
.nav-con{
    margin-right: 10rem!important;
    padding-right: 7rem; 
}

.box{
    position: absolute;
    bottom: 445px;
    left: 414px;
    height: 73px;
    width: 95px;
}
.footer-ul{
    list-style-type: none;
    padding:14px 0px;
}
@media (max-width: 481px) {
    .banner{
     font-size: 20px;
     margin-top:20px ;
    }
    .image{
        width: 357px;
        height: 370px;
    }
    .box{
    bottom: 266px;
    left: 230px;
    height: 75px;
    width: 90px;
    
    }
    .container-h1{
        font-size: 20px;
    }
}