.container-h1{
    font-size: 3rem;
}
.nav-link{
    margin: 10px;
}
.nav-con{
    margin-right: 10rem!important;
    padding-right: 7rem; 
}
.box{
    position: absolute;
    bottom: 490px;
    left: 446px;
    height: 14vh;
    width: 100px;
}
.footer-ul{
    list-style-type: none;
    padding-left: 0px;
    padding:14px 0px;
}